@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
h1{
    font-family: "Sofia",sans-serif;
    text-align: center;
    transform: translateY(-140%);
}
h2{
    font-family: "Sofia",sans-serif;
    text-align: center;
}

input{
    padding: 10px;
    width: 350px;
    /* align-self: center; */
    /* transform: translateX(70%); */
    background-color: lightgray;
    border-color:transparent;
}
input:hover{
    border-color: black;
}
.input-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    background-color: orangered;
    color: white;
    border: solid 1px transparent;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    text-align: left;
    float: left;
    margin-right: 20px;
    /* position: absolute; */
    /* transform: translateY(-250%);
    transform: translateX(-150%); */

}
/* button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(59, 19, 5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 } */
 body{
    justify-content: center;
    gap: 20px;
    background-color: #ababab;
    border: solid 1px #ababab;
    border-radius: 25px;
    margin:3px;

}
.logo{
    zoom: 10%;
}

.slogan{
    font-size: small;
    color: purple;
    text-align: center;
    transform: translateY(-90%);
 }
 nav{
    background-color: #abababee;
    display: flex;
    justify-content: space-evenly;
 }
 .nav-button{
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
 }
 .navbar-button{
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
 }
 .nav-button:hover{
    color: orangered;
   }
   .navbar-button:hover{
    color: orangered;
   }
   .nav-hr{
    height: 20px;
   }
   /* .body-hr{
    width: 50px;
   } */