@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
h1{
    font-family: "Sofia",sans-serif;
    text-align: center;
    font-size: 30px;
}
h2{
    font-family: "Sofia",sans-serif;
    text-align: center;
}

input{
    padding: 10px 30px; 
    width: 20vw;
    align-self: center;
    background-color: lightgray;
    border-color: transparent;
}
input:hover{
    border-color: black;
}
button{
    background-color: orangered;
    color: white;
    border: solid 1px transparent;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    width: rem;
    text-align: center;
    margin-top: 4%;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(59, 19, 5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 }
 body{
    justify-content: center;
    gap: 20px;
    background-color: #ababab;
    border: solid 1px #ababab;
    border-radius: 25px;
    margin:3px;

}
.logo{
    zoom: 10%;
    float: right;
}
.achievements-input{
    margin-top: 1%;
}
.slogan{
    font-size: small;
    color: purple;
    text-align: center;
    transform: translateY(-170%);
 }
 .input{
    display: flex;
    justify-content:center;
    gap: 3%;
 }


.navbar {
    overflow: hidden;
    background-color: #ababab;
    
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: orangered;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; 
  }
  .navbar a{
    color: orangered;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: orangered;
    color: black;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }