@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body{
    justify-content: center;
    /* gap: 20px; */
    background-color: #ababab;
    border: solid 1px #ababab;
    border-radius: 25px;
    /* margin:3px; */

}

.logo{
    zoom: 10%;
    /* float: right; */
    
}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(12%); */


}
.home-button{
    font-size: 1.8rem;
    padding: 1rem 1rem;
    width: 20rem;
    text-align: center;
    border: solid 1px transparent;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: "Sofia",sans-serif;
 }
 .homepage-button{
    font-size: 1.8rem;
    padding: 1rem 1rem;
    width: 20rem;
    text-align: center;
    border: solid 1px transparent;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: orangered;
    font-family: "Sofia",sans-serif;
 }
 .homepage-button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(59, 19, 5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 } 
 .home-button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 gray;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 }
 .slogan{
    font-size: small;
    color: purple;
    text-align: center;
    /* transform: translateY(-170%); */
    margin-top: 10%;
 }

 

 @media  screen and (min-width:200px)and (max-width:399px){
   .logo{
      zoom: 7%;
      /* transform: translateX(5%); */
  }
 
  #buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 6px;

}
.bigcontainer{
   display: grid;
   grid-template-columns: 1 1fr;
 }
.slogan{
   font-size: 10px;
   color: purple;
   text-align: center;
   /* transform: translateY(-110%); */
}

.home-button{
   font-size: 1.8rem;
   padding: 1rem 0.1rem;
   width: 15rem;
   text-align: center;
   border: solid 1px transparent;
   margin-bottom: 1.5rem;
   margin-right: 1.7rem;
   text-decoration: none;
   color: white;
   background-color: black;
   font-family: "Sofia",sans-serif;
}
.homepage-button{
   font-size: 1.8rem;
   padding: 1rem 0.1rem;
   width: 15rem;
   text-align: center;
   border: solid 1px transparent;
   margin-bottom: 1.5rem;
   margin-right: 1.7rem;
   text-decoration: none;
   color: white;
   background-color: orangered;
   font-family: "Sofia",sans-serif;
}



 }
 @media  screen and (min-width:400px)and (max-width:900px){
   .logo{
      zoom: 13%;
      align-self: center;
      margin-left: 28%;
      /* transform: translateX(5%); */
  }
 
#buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5%;
}
body{
   justify-content: center;
   gap: 20px;
   background-color: #ababab;
   border: solid 1px #ababab;
   border-radius: 25px;
   margin:3px;

}
.bigcontainer{
   display: grid;
   grid-template-columns: 1 1fr;
   
 }

 }
 @media  screen and (min-width:901px)and (max-width:1200px){
   .logo{
      zoom: 7%;
      /* transform: translateX(5%); */
  }


 }