body{
    background-color: #ababab;
    color: black;
}
h1{
    font-family: "Sofia",sans-serif;
    text-align: center;
    /* transform: translateY(-170%); */
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    zoom: 8%;
}
section{
    margin: 0;
    padding: 0;
   
}
p{
    text-align: center;
}
.back-button{
    background-color: orangered;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 1rem;
    width: 5rem;
    display: block;
    border: solid 1px transparent;
    text-decoration: none;
    font-family: "Sofia",sans-serif;
}
@media  screen and (min-width:400px)and (max-width:900px){

}
